.cv-degree-row {
  display: flex;
  justify-content: space-between;
}

.cv-entry-title {
  margin-bottom: 6px;
  font-size: large;
}

.cv-entry-body {
  padding-left: 2em;
}

.cv-entry-meta {
  margin-bottom: 6px;
}

.cv-entry-note {
  margin-bottom: 6px;
  /* font-size: small; */
}

.cv-entry-desc {
  font-size: small;
  line-height: 1.6;
}

.cv-entry-list {
  font-size: small;
}

.cv-prose {
  font-size: medium;
  line-height: 1.6;
}
